<ul hlmSidebarMenu>
  <li hlmSidebarMenuItem>
    <button class="cursor-pointer" hlmSidebarMenuButton size="lg" [hlmDropdownMenuTrigger]="menu" [side]="menuSide()"
      align="end">
      <hlm-avatar class="rouded-full">
        <span class="rounded-full bg-[#0050fd] text-white" hlmAvatarFallback>MH</span>
      </hlm-avatar>
      <div class="grid flex-1 text-left text-sm leading-tight">
        <span class="truncate font-medium">{{ user()?.name ?? "" }}</span>
        <span class="truncate font-xs">{{ user()?.email ?? "" }}</span>
      </div>
      <ng-icon name="lucideEllipsisVertical" class="ml-auto text-base"></ng-icon>
    </button>
  </li>
</ul>

<ng-template #menu>
  <hlm-dropdown-menu class="min-w-56 rounded-lg">
    <hlm-dropdown-menu-label>
      <div class="flex items-center gap-2 px-1 py-1.5 text-left text-sm">
        <hlm-avatar class="rouded-full">
          <span class="rounded-full bg-[#0050fd] text-white" hlmAvatarFallback>MH</span>
        </hlm-avatar>
        <div class="grid flex-1 text-left text-sm leading-tight">
          <span class="truncate font-medium">{{ user()?.name ?? "" }}</span>
          <span class="truncate font-xs">{{ user()?.email ?? "" }}</span>
        </div>
      </div>
    </hlm-dropdown-menu-label>
    <hlm-dropdown-menu-separator />
    <button
      class="cursor-pointer group focus:outline-none focus:bg-transparent focus-visible:outline-none focus-visible:bg-transparent hover:!bg-gray-200 dark:hover:!bg-gray-800"
      hlmDropdownMenuItem>
      <ng-icon name="lucideSettings" />
      Configurações
    </button>
    <hlm-dropdown-menu-separator />
    <button
      class="cursor-pointer group focus:outline-none focus:bg-transparent focus-visible:outline-none focus-visible:bg-transparent hover:!bg-red-500 dark:hover:!bg-red-900 hover:!text-white"
      hlmDropdownMenuItem>
      <ng-icon name="lucideLogOut" class="[&>svg]:group-hover:!stroke-white" />
      Logout
    </button>
  </hlm-dropdown-menu>
</ng-template>