<main class="ctlg-main">
  <hlm-card class="w-full max-w-100 p-8">
    <span class="text-3xl font-bold">Login</span>
    <form class="flex flex-col items-center" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
      <div hlmFieldGroup>
        <div hlmField>
          <label hlmFieldLabel for="login">Usuário</label>
          <input hlmInput type="text" formControlName="login" id="login" />
        </div>
        <div hlmField>
          <label hlmFieldLabel for="passowrd">Senha</label>
          <input hlmInput formControlName="password" autocomplete="current-password" id="password" type="password">
        </div>
        <label hlmLabel class="flex items-center">
          <hlm-switch (checkedChange)="form.controls.rememberMe.setValue($event)"
            class="mr-2 hover:cursor-pointer data-[state=unchecked]:bg-red-600/60! data-checked:bg-green-600" />
          Lembrar-me
        </label>
        <button hlmBtn type="submit" variant="default"
          [class]="'border hover:bg-transparent ' + (form.invalid || loading() ? 'bg-transparent text-gray-600 border-gray-600' : 'border-green-400 bg-green-400 hover:cursor-pointer hover:text-green-400')">
          @if(loading()){
          <hlm-spinner class="text-2xl text-green-400" />
          }@else{
          Entrar
          }
        </button>
      </div>
    </form>
  </hlm-card>
</main>