<!-- Header -->
<hlm-sidebar-header>
  <ul hlmSidebarMenu>
    <li hlmSidebarMenuItem>
      <a hlmSidebarMenuButton size="lg" href="#">
        <div
          class="bg-sidebar-primary text-sidebar-primary flex aspect-square size-8 items-center justify-center rounded-lg">
          <ng-icon name="lucideCommand" class="text-base" />
        </div>
        <div class="grid flex-1 text-left text-sm leading-tight">
          <span class="truncate font-medium">Marrco</span>
          <span class="truncate text-xs">Dev</span>
        </div>
      </a>
    </li>
  </ul>
</hlm-sidebar-header>

<!-- Content -->
<hlm-sidebar-content>
  <app-modules />
</hlm-sidebar-content>

<!-- Footer -->
<hlm-sidebar-footer>

</hlm-sidebar-footer>