<div class="flex flex-col h-full w-full min-h-0 flex-1">
  <!-- Header -->
  <hlm-sidebar-header>
    <ul hlmSidebarMenu class="flex flex-row justify-between items-center">
      <li hlmSidebarMenuItem class="flex-1">
        <a hlmSidebarMenuButton size="lg" [routerLink]="'/' | slugLink">
          <div
            class="bg-sidebar-primary text-sidebar-primary flex aspect-square size-8 items-center justify-center rounded-lg">
            <ng-icon name="lucideCommand" class="text-base" />
          </div>
          <div class="grid flex-1 text-left text-sm leading-tight">
            <span class="truncate font-medium">Marco</span>
            <span class="truncate text-xs">Dev</span>
          </div>
        </a>
      </li>
      <li hlmSidebarMenuItem>
        <app-theme-switch />
      </li>
    </ul>
  </hlm-sidebar-header>

  <!-- Content -->
  <hlm-sidebar-content class="flex-1 overflow-y-auto min-h-0">
    <app-modules />
  </hlm-sidebar-content>

  <!-- Footer -->
  <hlm-sidebar-footer class="mt-auto">
    <app-nav-user />
  </hlm-sidebar-footer>
</div>