<hlm-sidebar-group>
  <div hlmSidebarGroupLabel>Módulos</div>
  <ul hlmSidebarMenu>
    @for(module of modules(); track module.code){
    <hlm-collapsible>
      <li hlmSidebarMenuItem>
        <button hlmSidebarMenuButton hlmCollapsibleTrigger class="group/trigger w-full cursor-pointer">
          <ng-icon [name]="module.icon" />
          {{ module.label }}
          @if(module.children && module.children.length > 0){
          <ng-icon name="lucideChevronRight"
            class="ml-auto transition-transform duration-200 group-data-[state=open]/trigger:rotate-90" />
          }
        </button>
        @if(module.children && module.children.length > 0){
        <hlm-collapsible-content>
          <ul hlmSidebarMenuSub>
            @for(routine of module.children; track $index){
            <li hlmSidebarMenuSubItem>
              <a hlmSidebarMenuSubButton [routerLink]="routine.url">
                <ng-icon [name]="routine.icon" />
                {{ routine.label }}
              </a>
            </li>
            }
          </ul>
        </hlm-collapsible-content>
        }
      </li>
    </hlm-collapsible>
    }
  </ul>
</hlm-sidebar-group>